<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a th:href="@{/}" class="navbar-brand">PC 04</a>
    <h1 th:inline="text"> Welcome</h1>
</nav>

<div class="section">

    <div class="container">
        <a th:href="@{/addresses/add}" class="btn btn-primary mb-3">Add an address</a>
    </div>

    <div class="container">
        <h4>Address List</h4>
            <table class="table">
                    <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-2">id</th>
                        <th scope="col" class="col-3">Country</th>
                        <th scope="col" class="col-3">City</th>
                        <th scope="col" class="col-4">Street</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address : ${addresses}" class="d-flex">
                        <th scope="row" th:text="${address.addressId}" class="col-2"></th>
                        <td th:text="${address.country}" class="col-3"></td>
                        <td th:text="${address.city}" class="col-3"></td>
                        <td th:text="${address.street}" class="col-3"></td>

                        <td class="col-4">
                                <a th:href="@{/addresses/edit/{id_address}
                                    (id_address=${address.addressId})}"
                                   class="btn btn-small btn-success">Edit
                                </a>
                                <a th:href="@{/addresses/delete/{id_address}
                                (id_address=${address.addressId})}"
                                   class="btn btn-small btn-danger">Delete
                                </a>
                        </td>
                    </tr>
                    </tbody>
            </table>
    </div>
</div>

</body>
</html>