<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Menu</title>
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <h1 th:inline="text"> Welcome</h1>
    <a th:href="@{/}" class="navbar-brand">PC 04</a>
  </nav>

  <div class="section">

    <div class="container">
      <a th:href="@{/employees/add}" class="btn btn-primary mb-3">Register an employee</a>
    </div>

    <div class="container">
      <h4>List of Employees</h4>
      <table class="table">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-1">id</th>
            <th scope="col" class="col-2">Name</th>
            <th scope="col" class="col-2">Country</th>
            <th scope="col" class="col-2">City</th>
            <th scope="col" class="col-3">Street</th>

          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${employees}" class="d-flex">
            <th scope="row" th:text="${employee.id}" class="col-1"></th>
            <td th:text="${employee.name}" class="col-2"></td>
            <td th:text="${employee.address.country}" class="col-2"></td>
            <td th:text="${employee.address.city}" class="col-2"></td>
            <td th:text="${employee.address.street}" class="col-3"></td>

            <td class="col-2">
              <a th:href="@{/employees/edit/{id}
                                    (id=${employee.id})}" class="btn btn-small btn-success">Edit
              </a>
              <a th:href="@{/employees/delete/{id}
                                (id=${employee.id})}" class="btn btn-small btn-danger">Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>